<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8" lang="hu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <title>Barátosi Levente PT</title>
</head>
<body>
    <header>
        <h1><a href="/">Barátosi PT</a></h1>
            <nav class="">
                    <ul>
                        <li><a href="/"><i></i>Kezdőlap</a></li>
                        <li><a href="/blog"><i></i>Blog</a></li>
                        <li><a href="/about"><i></i>Rólam</a></li>
                        <li><a href="/contacts"><i></i>Kapcsolat</a></li>
                        <% if(!user) { %>
                            <li><a href="/login"><i></i>Belépés</a></li>   
                        <% }else{ %>
                            <li><a href="/logout"><i></i>Kilépés</a></li>
                        <% } %>  
                    </ul>
                </nav>
    </header>
