<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Barátosi Levente PT</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <script type="text/javascript" src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script> 
    <!-- <script src="/ckeditor/ckeditor.js"></script> 
        //<script type="text/javascript" src="path/to/script1.js" defer></script>-->
</head>
<body>
    <header>
        <h1>Barátosi PT</h1>
            <nav class="">
                    <ul>
                        <li><a href="/"><i></i>Kezdőlap</a></li>
                        <li><a href="/blog"><i></i>Blog</a></li>
                        <li><a href="/about"><i></i>Rólam</a></li>
                        <li><a href="/contacts"><i></i>Kapcsolat</a></li>
                    </ul>
                </nav>
    </header>
