<nav class="nav-bar">
    <ul>
        <li><a><i></i>Kezdőlap</a></li>
        <li><a><i></i>Blog</a></li>
        <li><a><i></i>Rólam</a></li>
        <li><a><i></i>Kapcsolat</a></li>
    </ul>
</nav>