<% include partials/header %>
<div class="container">
    <div class="flex-column ">
        <div class="dyn-box content-bg">
            <h1>Kilépés</h1>
            <form action="/logout?_method=DELETE" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                
                <div class="flex-item">
                    <button class="button" type="submit">Kilépés</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>