<% include partials/header %>
<div class="container">
<h1>Belépés</h1>
<form action="/logout?_method=DELETE" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit">Kilépés</button>
</form>
</div>
<% include partials/footer %>