<% include partials/header %>
<div class="container">
    <div class="flex-column">
        <div class="dyn-box content-bg">
            <h1>Regisztráció</h1>
            <form action="/register" method="POST">
                <div class="auth-container flex-column">
                    <input class="input-field" type="hidden" name=_csrf value="<%=csrfToken%>" >

                    <div class="flex-item">
                        <label class="form-label" for="l_name">Vezeték Név *</label>
                        <input class="input-field" type="text" name="l_name" id="l_name" required>
                    </div>
                    <div class="flex-item">
                        <label class="form-label" for="f_name">Kereszt Név *</label>
                        <input class="input-field" type="text" name="f_name" id="f_name" required>
                    </div>
                    <div class="flex-item">
                        <label class="form-label" for="bday">Születési Dátum</label>
                        <input class="input-field" type="date" name="bday" id="bday" >
                    </div>
                    <div class="flex-item">
                        <label class="form-label" for="phone">Telefonszám</label>
                        <input class="input-field" type="text" name="phone" id="phone">
                    </div>
                    <div class="flex-item">
                        <label class="form-label" for="email">Email *</label>
                        <input class="input-field" type="email" name="email" id="email" required>
                    </div>
                    <div class="flex-item">
                        <label class="form-label" for="pword">Jelszó *</label>
                        <input class="input-field" type="password" name="pword" id="pword" required>
                    </div>
                    <div class="flex-item">
                        <button class="button" type="submit">Küldés</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>