header{
    display: flex;
    color: white;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
}
header h1{
    font-size: 5vh;
    margin-top: 2vh;
    margin-bottom : 2vh;
    margin-left: 2vw;

}

header h1 a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: #037AFE;
    margin-right: 2vw;
    padding: 1em 2em 1em 2em;
    border-bottom: blue 2px solid;
    border-radius: 40px;

}

nav ul li a:hover{
    background-color: orange;
    color: black;
}



/* @media (max-width: 12450px) {
.flex li a{

}

} */