<% include ../partials/header %>
<img src="https://baratosifit.files.wordpress.com/2019/04/cropped-victor-freitas-569958-unsplash.jpg"
    alt="Levente ökölpacsizik egy barátjával egy fárasztó edzés után">
<div class="container">
    <main>
        <article>
            <h2>Üdvözöllek az oldalamon!</h2>
            <p>
                Örülök, hogy itt landoltál! Először is nézz körül az oldalon,
                hiszen hasznos tanácsokat találsz fitnesz témában, amelyek segítenek megtenni az első 
                lépéseket vagy választ adhatnak bizonyos kérdésekre.
                A BLOG rovat 1-2 hetente frissül új cikkekkel. Légy aktív, szólj hozzá a témákhoz, 
                hiszen kíváncsi vagyok a véleményedre. Szívesen fogadok javaslatot, 
                hogyha van olyan spéci téma, amiről szívesen olvasnál. A cikkek összefoglalóak és nem mennek
                bele a legmélyebb részletekbe. Tudom, hogy az idő nagy érték, 
                így igyekszem 5-10 percnél többet nem lefoglalni a napodból. 
                Bár az összefoglalók jól hivatkozottak és hasznosak, azonban lehet,
                hogy ez nem elég és neked ennél többre van szükséged. Természetesen erre is van megoldás.
                Nem kell az egészet egyedül átlátnod és megértened. Ez az én feladatom. A tiéd viszont
                eljönni rendszeresen edzeni és gyakorolni. Legyen szó fogyásról, izom építésről, 
                ízületi fájdalomról, helytelen testtartásról, edzés tervezésről, speciális célokról 
                vagy csak néhány tanácsra lenne szükséged az edzésedet vagy a táplálkozást illetően 
                keress fel bátran! 
            </p>
        </article>
        <% if(user && user.isadmin){ %> <!--locals.user could be used instead of typeof -->
            <button><a href="new">Szerkeszt</a></button>
        <% } %>
    </main>
</div>
<% include ../partials/footer %>