<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" lang="hu"> 
        <title>Baratosi Levente PT</title>
    </head>
    <body>
        <header>
            <h1>Baratosi PT</h1>
            <img src="https://baratosifit.files.wordpress.com/2019/04/cropped-victor-freitas-569958-unsplash.jpg" 
                alt="Barátosi Levente és barátja kimerülve fekszenek a konditerem padloján miközben ökölpacsiznak.">
            <nav>
                <ul>
                    <li><a href="/"><i></i>Kezdőlap</a></li>
                    <li><a href="/blog"><i></i>Blog</a></li>
                    <li><a href="/about"><i></i>Rólam</a></li>
                    <li><a href="/contacts"><i></i>Kapcsolat</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article>
                <h2>Üdvözöllek az oldalamon!</h2>
                <p>
                    Örülök, hogy itt landoltál! Először is nézz körül az oldalon,
                    hiszen hasznos tanácsokat találsz fitnesz témában, amelyek segítenek megtenni az első 
                    lépéseket vagy választ adhatnak bizonyos kérdésekre.
                    A BLOG rovat 1-2 hetente frissül új cikkekkel. Légy aktív, szólj hozzá a témákhoz, 
                    hiszen kíváncsi vagyok a véleményedre. Szívesen fogadok javaslatot, 
                    hogyha van olyan spéci téma, amiről szívesen olvasnál. A cikkek összefoglalóak és nem mennek
                    bele a legmélyebb részletekbe. Tudom, hogy az idő nagy érték, 
                    így igyekszem 5-10 percnél többet nem lefoglalni a napodból. 
                    Bár az összefoglalók jól hivatkozottak és hasznosak, azonban lehet,
                    hogy ez nem elég és neked ennél többre van szükséged. Természetesen erre is van megoldás.
                    Nem kell az egészet egyedül átlátnod és megértened. Ez az én feladatom. A tiéd viszont
                    eljönni rendszeresen edzeni és gyakorolni. Legyen szó fogyásról, izom építésről, 
                    ízületi fájdalomról, helytelen testtartásról, edzés tervezésről, speciális célokról 
                    vagy csak néhány tanácsra lenne szükséged az edzésedet vagy a táplálkozást illetően 
                    keress fel bátran! 
                </p>
            </article>
        </main>
        <footer>

        </footer>
    </body>
</html>