<% include ../partials/header %>
<div class="main-bg" style="background-image: url('https://baratosifit.files.wordpress.com/2019/04/cropped-victor-freitas-569958-unsplash.jpg')"></div>
<!-- <img src="https://baratosifit.files.wordpress.com/2019/04/cropped-victor-freitas-569958-unsplash.jpg"
    alt="Levente ökölpacsizik egy barátjával egy fárasztó edzés után"> -->
<main class="wide-bg">
    <div class="container content-bg">
        <article>
            <%= article.content %>
        </article>
        <% if(user && user.isadmin){ %> <!--locals.user could be used instead of typeof -->
        <div class="flex-container">
            <a class="button" href="new">Szerkeszt</a>
        </div>
        <% } %>
    </div>
</main>

<% include ../partials/footer %>