<% include ../partials/header %>
<img src="https://baratosifit.files.wordpress.com/2019/04/8m0a9230.jpg"
    alt="Levente törökülésben mosolyog az edzőterem padlóján.">
<div class="container">
<main>
<article>
    <h2>Rólam</h2>
    <p><%- about %></p>  
</article>  
</main>
</div>

<% include ../partials/footer %> 
<!-- footer contains </body> -->