<% include ../partials/header %>
<% include ../partials/nav %>

<body>
    <article>
        <h1>Rólam</h1>
            <section>
                <%- about %>
            </section>
    
        
    </article>  



<% include ../partials/footer %> 
<!-- footer contains </body> -->