<% include ../partials/header %>
<div class="container">
    
    <main>
        <div class="" >
                
                       <article>
                            <div class="grid center-content">
                                <img src="https://baratosifit.files.wordpress.com/2019/04/8m0a9202.jpg" width="300px" height="180px">
                                <div class="center-content">
                                    <p><span><%= post.f_name%> <%=post.l_name%></span> <span><%= post.created%></span></p>
                                    <p><%= post.content %></p>
                                </div>
                            </div>
                        </article>
                
        </div>
    </main>
    
</div>
<%include ../partials/footer %>