<% include ../partials/header %>
<img src="https://baratosifit.files.wordpress.com/2019/04/8m0a9249.jpg?w=2000" 
        alt="">
<main>
    <article class="container">
        <h2>Kapcsolat:</h2>
        <p>
            Barátosi Levente – személyi edző
            Facebook: <a href="http://facebook.com/baratosifit">http://facebook.com/baratosifit/</a>
            E-mail: baratosifit@gmail.com
            Tel: +36-70-500-8444
        </p>
    </article>   
</main>


<% include ../partials/footer %>
<!-- footer contains </body> -->